@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

:root {
    /* Color */
    --white-color: #ffffff;
    --black-color: #212529;
    --gray-color: #6c757d;
    --gray-light-color: #f2f2f2;
    --gray-dark-color: #343a40;
    --indigo-color: #1a237e;
    --indigo-light-color: #534bae;
    --indigo-dark-color: #000051;
    --red-color: #dc3545;
    --red-light-color: #f05545;
    --red-dark-color: #7f0000;
    --blue-color: #0d6efd;
    --purple-color: #6f42c1;
    --pink-color: #d63384;
    --orange-color: #fd7e14;
    --yellow-color: #ffc107;
    --green-color: #198754;
    --teal-color: #20c997;
    --cyan-color: #0dcaf0;

    /* Size */
    --margin: ;
    --padding: 12px;
    --page-padding: 50px;

    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
    background: var(--white-color);
}

strong {
    padding: var(--padding);
    color: var(--white-color);
    background: var(--indigo-dark-color);
    font-size: var(--font-large);
    border: 1px solid var(--white-color);
    margin-bottom: 24px;
}

img {
    max-width: 100%;
}

.Wrap {
    background: var(--indigo-color);
}

main {
    height: 100vh;
    color: var(--white-color);
}

/* 최상단 메뉴 container */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background: var(--indigo-dark-color);
    color: var(--white-color);
    font-size: var(--font-large);
    align-items: center;
    text-align: center;
}

/* 깃허브 아이콘 & 로고 & 제목 */

/* 최상단 메뉴 */
.navbar .navbar_menu {
    position: relative;
}

.navbar .navbar_menu .menu_dropdown {
    display: inline-flex;
    width: 250px;
    justify-content: center;
}

.navbar .navbar_menu .menu_dropdown:hover {
    border-radius: 8px;
    background: var(--white-color);
    color: var(--indigo-color);
    font-weight: 500;
}

.navbar .navbar_menu .dropdown_content {
    display: none;
    position: absolute;
    width: 250px;
    top: 25px;
    padding: var(--padding);
    border-radius: 8px;
    background: var(--indigo-dark-color);
    color: var(--white-color);
    text-align: center;
    font-size: var(--font-medium);
}

.navbar .navbar_menu .menu_dropdown .dropdown_content a {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--white-color);
}

.menu_dropdown:hover .dropdown_content {
    display: block;
}



/* Main */
.center {
    position: relative;
    padding: var(--page-padding) 0;
}

.contents01 {
    position: absolute;
    display: flex;
    width: 800px;
    padding: var(--padding);
    font-size: var(--font-medium);
    flex-direction: column;
}

.contents02 {
    position: absolute;
    display: flex;
    width: 800px;
    padding: var(--padding);
    font-size: var(--font-medium);
    flex-direction: column;
}

.contents03 {
    position: absolute;
    display: flex;
    width: 800px;
    padding: var(--padding);
    font-size: var(--font-medium);
    flex-direction: column;
}

.contents04 {
    position: absolute;
    display: flex;
    width: 800px;
    padding: var(--padding);
    font-size: var(--font-medium);
    flex-direction: column;
}

.main_slider .contents01 {
    top: 100px;
    left: 100px;
}

.thumbnail01 {
    display: none;
}

.contents01:hover .thumbnail01 {
    display: flex;
    top: 0;
    right: 0;
    transform: scale(1.2);
    z-index: 999;
}

.contents01:hover {
    flex-direction: column-reverse;
}

.main_slider .contents02 {
    top: 200px;
    right: 100px;
}

.thumbnail02 {
    display: none;
}

.main_slider .contents03 {
    top: 500px;
    left: 100px;
}

.thumbnail03 {
    display: none;
}

.main_slider .contents04 {
    top: 600px;
    right: 100px;
}

.thumbnail04 {
    display: none;
}

footer {
    padding: var(--padding);
    background: var(--indigo-light-color);
    color: var(--white-color);
    font-size: var(--font-micro);
}


/* 최상단 메뉴 링크 아이콘(블로그) */
.navbar_icons {
    display: flex;
    width: 100px;
    padding: var(--padding);
    gap: 30px;
}

.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    color: var(--white-color);
    font-size: var(--font-large);
}

/* 본문 내용 */
.main ul {
    padding: var(--padding);
    font-size: var(--font-medium);
}





/* 
made in seokgoooo 2022.04.28 ~
responsive 768px
 */





@media (max-width: 768px) {

    /* 최상단 메뉴 container */
    .navbar {
        flex-direction: column;
        padding: 8px 24px;
        align-items: flex-start;
    }

    /* 최상단 메뉴 */
    .navbar_menu {
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .menu_dropdown {
        width: 100%;
        text-align: center;
    }

    /* 최상단 메뉴 링크 아이콘(블로그) */
    .navbar_icons {
        display: none;
        width: 100%;
        justify-content: center;
    }

    .navbar_toggleBtn {
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }
}