@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

:root {
    /* Color */
    --white-color: #ffffff;
    --black-color: #212529;
    --gray-color: #6c757d;
    --gray-light-color: #f2f2f2;
    --gray-dark-color: #343a40;
    --indigo-color: #1a237e;
    --indigo-light-color: #534bae;
    --indigo-dark-color: #000051;
    --red-color: #dc3545;
    --red-light-color: #f05545;
    --red-dark-color: #7f0000;
    --blue-color: #0d6efd;
    --purple-color: #6f42c1;
    --pink-color: #d63384;
    --orange-color: #fd7e14;
    --yellow-color: #ffc107;
    --green-color: #198754;
    --teal-color: #20c997;
    --cyan-color: #0dcaf0;

    /* Size */
    --margin: ;
    --padding: 12px;
    --page-padding: 50px;

    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

li {
    padding: 10px;
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
    background: var(--white-color);
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--white-color);
    background: var(--indigo-color);
}

hr {
    margin-bottom: 10px;
}

/* 최상단 메뉴 container */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background: var(--indigo-dark-color);
    color: var(--white-color);
    font-size: var(--font-large);
    align-items: center;
    text-align: center;
}

/* 깃허브 아이콘 & 로고 & 제목 */

/* 최상단 메뉴 */
.navbar .navbar_menu {
    position: relative;
}

.navbar .navbar_menu .menu_dropdown {
    display: inline-flex;
    width: 250px;
    justify-content: center;
}

.navbar .navbar_menu .menu_dropdown:hover {
    border-radius: 8px;
    background: var(--white-color);
    color: var(--indigo-color);
    font-weight: 500;
}

.navbar .navbar_menu .dropdown_content {
    display: none;
    position: absolute;
    width: 250px;
    top: 40px;
    padding: var(--padding);
    border-radius: 8px;
    background: var(--indigo-dark-color);
    color: var(--white-color);
    text-align: center;
    font-size: var(--font-medium);
}

.navbar .navbar_menu .menu_dropdown .dropdown_content a {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--white-color);
}

.menu_dropdown:hover .dropdown_content {
    display: block;
    z-index: 999;
}

/* 최상단 메뉴 링크 아이콘(블로그) */
.navbar_icons {
    display: flex;
    width: 100px;
    padding: var(--padding);
    gap: 30px;
}

.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    color: var(--white-color);
    font-size: var(--font-large);
}

/* Main 본문 내용 */
.main_slider {
    width: 1200px;
    margin: 0 auto;
}

.main_slider .slick-dots {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px 0 0 0;
}

.main_slider .slick-dots>li {
    width: 10px;
    height: 10px;
    margin: 10px;
    background: var(--white-color);
    border-radius: 50%;
}

.main_slider .slick-dots>li.slick-active {
    background: var(--red-light-color);
}

.main_slider .slick-dots button {
    display: none;
}

.main_slider .box {
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin: 50px;
    border: 1px solid var(--white-color);
}

.main_slider .box .box_name {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--white-color);
}

span {
    cursor: pointer;
    -webkit-text-stroke: 1px #f9f7f1;
    background-image: linear-gradient(0deg, #f9f7f1, #f9f7f1);
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in;
    font-size: 61px;
}

span:hover {
    background-size: 100% 100%;
    filter: drop-shadow(0 0 5px #f9f7f1);
}

.left {
    background-position: 0% 0%;
    background-size: 0% 100%;
    filter: drop-shadow(0 0 5px var(--red-light-color));
}

.right {
    background-position: 100% 0%;
    background-size: 0% 100%;
    filter: drop-shadow(0 0 5px var(--yellow-color));
}

.top {
    background-position: 0% 0%;
    background-size: 100% 0%;
    filter: drop-shadow(0 0 5px var(--indigo-light-color));
}

.bottom {
    background-position: 0% 100%;
    background-size: 100% 0%;
    filter: drop-shadow(0 0 5px var(--teal-color));
}

.center {
    background-position: 50% 50%;
    background-size: 0% 0%;
    filter: drop-shadow(0 0 5px var(--oragne-color));
}

main ul {
    font-size: var(--font-medium);
}

footer {
    padding: var(--padding);
    background: var(--indigo-light-color);
    color: var(--white-color);
    font-size: var(--font-micro);
}



/* 
made in seokgoooo 2022.04.28 ~
responsive 768px
 */





@media (max-width: 768px) {

    /* 최상단 메뉴 container */
    .navbar {
        flex-direction: column;
        padding: 8px 24px;
        align-items: flex-start;
    }

    /* 최상단 메뉴 */
    .navbar_menu {
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .menu_dropdown {
        width: 100%;
        text-align: center;
    }

    /* 최상단 메뉴 링크 아이콘(블로그) */
    .navbar_icons {
        display: none;
        width: 100%;
        justify-content: center;
    }

    .navbar_toggleBtn {
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }
}
