@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
/* Font는 1개 (많이 쓰면 좋지 않다) */

:root {
    --blue-color: #0d6efd;
    --indigo-color: #6610f2;
    --purple-color: #6f42c1;
    --pink-color: #d63384;
    --red-color: #dc3545;
    --orange-color: #fd7e14;
    --yellow-color: #ffc107;
    --green-color: #198754;
    --teal-color: #20c997;
    --cyan-color: #0dcaf0;
    --white-color: #fff;
    --gray-color: #6c757d;
    --gray-light-color: #f2f2f2;
    --gray-dark-color: #343a40;
    --light-color: #f8f9fa;
    --dark-color: #212529;

    --page-padding: 100px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    position: relative;
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .container {
        width: auto;
        flex-direction: column;
        padding: 0 15px;
    }

    h2 {
        padding: 0 15px;
    }

    p {
        padding: 0 15px;
        line-height: 1.618;
    }

    .container h2,
    .container p {
        padding: 0;
    }
}

.top_banner .container {
    display: block;
}

.top_banner {
    padding: 25px 0;
    background: var(--light-color);
}

.top_banner h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 31px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.top_banner p {
    font-size: 15px;
    font-weight: 300;
}

.top_banner a {
    padding: 2px 15px 4px 15px;
    margin: 0 0 0 20px;
    border: 1px solid var(--dark-color);
}

.top_banner i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background: var(--dark-color);
    color: var(--light-color);
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width: 768px) {
    .top_banner {
        position: absolute;
        top: 300px;
        left: 15px;
        right: 15px;
        padding: 25px 15px;
        z-index: 1000;
    }

    .top_banner h2 {
        font-size: 20px;
    }

    .top_banner p {
        font-size: 13px;
        line-height: 1.56;
        margin: 20px 0 0 0;
    }

    .top_banner a {
        display: block;
        width: 55px;
        padding: 0 10px 2px 10px;
        margin: 20px 0 0 0;
    }
}

.header .container {
    line-height: 100px;
}

.header .mbtn {
    display: none;
}

.header .container nav {
    margin: 0 0 0 auto;
}

.header .container form {
    margin: 0 0 0 50px;
}

.header .container nav>ul {
    display: flex;
    /* gap: 40px; = padding: 0 20px;*/
}

.header .container nav>ul>li~li::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 13px;
    margin: 0 20px;
    background: var(--gray-light-color);
}

#search input {
    border: none;
    border-bottom: 1px solid var(--dark-color);
    outline: none;
    padding: 5px 0;
}

#search button {
    border: none;
    outline: none;
    background: transparent;
    font-size: 30px;
}

@media (max-width: 768px) {
    .header h1 {
        padding: 0 15px;
    }

    .header .mbtn {
        display: block;
        position: fixed;
        top: 20px;
        right: 10px;
        line-height: 1;
        z-index: 1000;
    }

    .header .container nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: calc(100% - 90px);
        height: 100vh;
        background: var(--white-color);
        border-right: 1px solid var(--dark-color);
        z-index: 1000;
        transition: 0.5s;
    }

    .header .container nav.on {
        left: 0;
    }

    .header .container nav>ul {
        flex-direction: column;
        line-height: 40px;
        padding: 100px 30px;
    }

    .header .container nav>ul>li {
        border-bottom: 1px solid var(--gray-light-color);
    }

    .header .container nav>ul>li>a {
        display: block;
    }

    .header .container nav>ul>li~li::before {
        display: none;
    }

    .search {
        display: none;
    }
}


/* main_visual 메인 슬라이더 / slick-dots */

.main_visual figure {
    position: relative;
    height: 600px;
}

.main_visual .itm01 {
    background: url(../IMG/mainvisual01.jpg) no-repeat center center/cover;
}

.main_visual .itm02 {
    background: url(../IMG/mainvisual02.jpg) no-repeat center center/cover;
}

.main_visual .itm03 {
    background: url(../IMG/mainvisual03.jpg) no-repeat center center/cover;
}

.main_visual .container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
}

.main_visual figure h3 {
    font-size: 60px;
    font-weight: 900;
    margin: 0 0 20px 0;
    text-shadow: 0 0 2px var(--dark-color);
}

.main_visual figure.itm02 h3 {
    color: var(--dark-color);
    text-shadow: 0 0 2px var(--white-color);
}

.main_visual figure p {
    font-size: 13px;
    font-weight: 300;
    margin: 0 0 20px 0;
}

.main_visual figure.itm02 p {
    color: var(--dark-color);
    text-shadow: 0 0 2px var(--white-color);
}

.main_visual figure a {
    display: inline-block;
    padding: 5px 20px 8px 20px;
    border: 1px solid var(--white-color);
    background: var(--dark-color);
    font-size: 13px;
    font-weight: 300;
    text-align: center;
}

.main_visual figure h3 {
    transform: translateY(100px);
    opacity: 0;
}

.main_visual figure.on h3 {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}

.main_visual figure p {
    transform: translateY(100px);
    opacity: 0;
}

.main_visual figure.on p {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.main_visual figure a {
    transform: translateY(100px);
    opacity: 0;
}

.main_visual figure.on a {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s 1s;
}

.main_visual .slick-dots {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.main_visual .slick-dots li {
    display: inline-block;
    width: 80px;
    height: 5px;
    margin: 0 5px;
    background: var(--dark-color);
}

.main_visual .slick-dots li::after {
    content: '';
    display: block;
    width: 0%;
    height: 100%;
    background: var(--red-color);
}

.main_visual .slick-dots li.slick-active::after {
    width: 100%;
    transition: 3s;
}

.main_visual .slick-dots button {
    display: none;
}

@media (max-width: 768px) {
    .main_visual figure {
        height: calc(100vh - 100px);
    }

    .main_visual .itm01 {
        background: url(../IMG/mainvisual01.jpg) no-repeat left center/cover;
    }

    .main_visual .itm02 {
        background: url(../IMG/mainvisual02.jpg) no-repeat right center/cover;
    }

    .main_visual .itm03 {
        background: url(../IMG/mainvisual03.jpg) no-repeat right center/cover;
    }

    .main_visual .container {
        display: block;
        position: absolute;
        top: 50%;
        left: 15px;
        right: 15px;
        transform: translate(0, -50%);
        color: var(--white-color);
    }

    .main_visual figure h3 {
        font-size: 5.5vw;
        font-weight: 900;
        margin: 0 0 20px 0;
        text-shadow: 0 0 2px var(--dark-color);
    }

    .main_visual figure.itm02 h3 {
        color: var(--white-color);
        text-shadow: 0 0 2px var(--dark-color);
    }

    .main_visual figure p {
        font-size: 2.5vw;
        font-weight: 300;
        margin: 0 0 20px 0;
        padding: 0;
    }

    .main_visual figure.itm02 p {
        color: var(--white-color);
        text-shadow: 0 0 2px var(--dark-color);
    }
}

/* 옛날 방식으로 중앙 정렬
.content .container {
    width: 1230px;
    margin: 0 auto;
}

.content .container::after {
    content: '';
    display: block;
    clear: both;
}

.content .container figure {
    float: left; 
    width: 33.33333333333%;
    padding: 0 15px;
}

.content .container figure img {
    max-width: 100%;
}

*/



/* content / hover / overflow / inline-block */
.content {
    padding: var(--page-padding) 0;
    text-align: center;
}

section h2 {
    font-size: 23px;
    font-weight: 700;
    margin: 0 0 10px 0;
    letter-spacing: 0.25em;
}

section p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.content .container {
    padding: 0 15px;
    gap: 30px;
}

.content .container figure {
    flex: 1;
    overflow: hidden;
}

.content .container figure .case {
    overflow: hidden;
    border-radius: 50%;
    transition: 0.5s 0.5s;
    margin: 0 0 30px 0;
}

.content .container figure:hover .case {
    border-radius: 10px;
}

.content .container figure img {
    transition: 0.5s;
}

.content .container figure:hover img {
    transform: scale(1.25);
}

.content .container figure strong {
    display: block;
    /* strong은 inline이라 display block을 주면 a가 밑으로 내려간다 */
    margin: 0 0 20px 0;
}

.content .container figure a {
    display: inline-block;
    padding: 5px 20px 10px 20px;
    border: 1px solid var(--dark-color);
}

/* index_bg / background fixed / filter */

.index_bg {
    padding: var(--page-padding) 0;
    text-align: center;
    color: var(--white-color);
    background: url(../IMG/mainvisual03.jpg) no-repeat fixed center center/cover;
    filter: grayscale(1);
    /* background-attachment: fixed;       배경 고정 (축약형으로 들어가짐) */
}

.index_bg span {
    vertical-align: middle;
}

.index_bg i {
    padding: 10px;
    background: var(--dark-color);
    margin: 5px 0 0 20px;
    border-radius: 50%;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .index_bg {
        background: url(../IMG/mainvisual03.jpg) no-repeat scroll center center/cover;
    }
}


/* video link 사용법 / play pause button */
.movie01 {
    padding: var(--page-padding) 0;
}

.movie01 .container {
    gap: 50px;
}

.movie01 .container figure {
    flex: 1;
}

.movie01 .container .dec {
    flex: 1;
    padding: var(--page-padding) 0;
}

.movie01 video {
    max-width: 100%;
}

.movie01 .dec i {
    padding: 10px;
    margin: 0 5px 0 0;
    color: var(--white-color);
    background: var(--dark-color);
    border-radius: 50%;
    font-size: 25px;
}



/* youtube player (YTPlayer 사용법) / play pause button */

.movie02 {
    padding: 150px 0;
    text-align: center;
    color: var(--white-color);
}

.movie02 i {
    padding: 10px;
    margin: 0 2px;
    background: var(--dark-color) 0.5;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
}


/* product / 하단 슬라이더 */
.product {
    position: relative;
    padding: var(--page-padding) 0;
    text-align: center;
}

.product .product_slider {
    width: 1230px;
    margin: 0 auto;
}

.product .product_slider figure {
    padding: 0 15px;
}

.product i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    margin: 0 2px;
    color: var(--white-color);
    background: var(--dark-color);
    border-radius: 50%;
    font-size: 40px;
    cursor: pointer;
}

.product .s_left {
    margin: 0 0 0 -700px;
}

.product .s_right {
    margin: 0 0 0 700px;
}

.product .slick-dots {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px 0 0 0;
}

.product .slick-dots li {
    width: 10px;
    height: 10px;
    background: var(--dark-color);
    border-radius: 50%;
}

.product .slick-dots li.slick-active {
    background: var(--red-color);
}

.product .slick-dots button {
    display: none;
}

.product .box {
    margin: 0 0 20px 0;
}

.product figure img {
    padding: 20px 0;
    transition: 0.5s;
}

.product figure.slick-center img {
    transform: scale(1.25);
}

.product small {
    position: relative;
    display: inline-block;
    border-top: 30px solid var(--pink-color);
    border-right: 30px solid transparent;
    border-bottom: 30px solid var(--pink-color);
    border-left: 100px solid var(--pink-color);
    top: 25px;
    left: -600px;
}

.product span {
    position: absolute;
    top: -10px;
    left: -80px;
    color: var(--white-color);
}

@media (max-width: 768px) {
    .product .product_slider {
        width: auto;
    }

    .product i {
        transform: translate(0, -50%);
    }

    .product .s_left {
        margin: 0;
        left: 15px;
    }

    .product .s_right {
        margin: 0;
        left: auto;
        right: 15px;
    }

    .product small {
        top: auto;
        left: auto;
    }
}

/* service / 최하단 /  */
.service {
    padding: var(--page-padding) 0;
    background: var(--gray-light-color);
}

.service .container {
    gap: 40px;
}

.service .tab_Wrap {
    flex: 1;
    padding: 0 15px;
}

.service figure {
    flex: 1;
}

.service .tab_Wrap .tab_menu {
    display: flex;
}

.service .tab_Wrap .tab_menu>li {
    flex: 1;
    text-align: center;
    line-height: 40px;
    color: var(--white-color);
    background: var(--dark-color);
    border-right: 1px solid var(--white-color);
    cursor: pointer;
}

.service .tab_Wrap .tab_menu>li.on {
    background: var(--pink-color);
}

.service .tab_Wrap .tab_content>li {
    display: none;
}

.service .tab_Wrap .tab_content>li.on {
    display: block;
}

.service .tab_Wrap .tab_content>li dd {
    display: flex;
    justify-content: space-between;
    line-height: 36px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.service .tab_Wrap .tab_content>li dd strong {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}



/* footer */
.footer {
    padding: 0 0 50px 0;
    background: var(--dark-color);
    color: var(--white-color);
    font-weight: 300;
    font-size: 15px;
}

.footer hr {
    margin: 0;
    border: none;
    border-top: 1px solid var(--gray-dark-color);
}

.footer .container {
    justify-content: space-between;
    line-height: 60px;
}

.footer .footer_top ul {
    display: flex;
}

.footer .footer_top ul li~li::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 15px;
    background: var(--gray-color);
    vertical-align: middle;
}

.footer .footer_top .sns {
    font-size: 0;
    /* 간격 없애는 방법 */
    /* 자식 태그들 사이 떨어져있을 때 부모 태그에 fontsize를 0으로 주면 붙는다 */
}

.footer .footer_top i {
    padding: 10px;
    color: var(--gray-color);
    font-size: 21px;
    margin: auto 2px;
    vertical-align: middle;
}

.footer #link {
    padding: 5px 15px;
    border: none;
    /* outline: none; */
    background: var(--gray-dark-color);
    color: var(--white-color);
    font-size: 15px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .footer .container {
        align-items: center;
        justify-content: space-between;
        line-height: 1.618;
        padding: 30px 15px;
    }

    .footer .footer_top ul {
        display: block;
        text-align: center;
        padding: 0 0 20px 0;
    }

    .footer .footer_top ul li {
        display: inline-block;
        padding: 0 15px;
    }

    .footer .footer_top ul li~li::before {
        display: none;
    }

    .footer .left {
        text-align: center;
        margin: 0 0 20px 0;
    }
}